
.text-truncate{
    word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input::-webkit-input-placeholder {
    font-size:17px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(0,0,0,0.5);
}

.margin-bottom-49{
    margin-bottom: 49px;
}

.login-hender{
    height: 227px;
    text-align: center;
    background: #294297;
}
.login-hender img{
    width: 100px;
    margin-top: 53px;
}
.login-body{
    background: #ffffff;
    margin-top: -20px;
    padding: 35px 50px 0px 50px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.login-body .title{
    font-size:22px;
    font-weight:400;
    color:rgba(26,26,26,1);
    line-height:30px;
    margin-bottom: 42px;
}
.login-body .input{
    font-weight:400;
    color:rgba(26,26,26,1);
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.login-body .input input {
    font-size:17px;
}

.login-body-tisp{
    height: 17px;
    margin: 22px 0px 0px 0px;
    font-size:12px;
    font-weight:400;
    color:rgba(122,0,0,1);
    line-height:17px;
}

.next{
    width: 270px;
    height: 55px;
    font-weight:400;
    font-size:17px;
    text-align: center;
    color:rgba(255,255,255,1);
    line-height: 55px;
    background: #294297;
    margin: 42px auto 0px auto;
    border-radius: 30px;
    box-shadow:0px 18px 14px -7px rgba(38,63,150,0.22);
}
