
input::-webkit-input-placeholder {
    color: #9E9E9E;
}
input:disabled{
    background-color: #ffffff;
}

.more{
    position: fixed;
    top: 14px;
    right: 20px;
    z-index: 222;
    font-size:13px;
    font-family:PingFangSC-Regular;
    color:rgba(51,51,51,1);
}
.more img{
    width: 22px;
    height: 17px;
}
.integral-content{
    background:rgba(245,245,245,1);
}
.integral{
    padding: 43px 20px 0px 20px;
}
.integral-box{
    background: #fff;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    height: 68px;
    line-height: 68px;
    color:#333333;
    position: relative;
    box-shadow: 0px 0px 6px #eaeaea;
    border-radius: 6px;

}
.integral-box img{
    width: 40px;
    height: 40px;
}
.integral-box b{
    padding-left: 24px;
    display: inline-block;
    font-size:15px;
    font-weight:400;
}
.integral-box-title{
    padding: 16px 15px;
    font-size:17px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.arrowhead-icon{
    display: flex;
    flex-flow: column;
    margin: 13px 0 13px 30px;
}
.arrowhead-icon i{

    color: rgba(139, 137, 140, 1);
}
.arrowhead{
    margin-left: 8px;
    width: 1px;
    height:28px;
    position: relative;
    top: 6px;
    border-left: 1px dashed rgba(151, 151, 151, 1);
}
.integral-box .from{

    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 15px 0px 0px;
    margin-left: 15px;

}
.integral-box .from input{
    padding-left: 24px;
    width: 200px;
    height: 30px;
    line-height: 30px;
}
.integral-box .to{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 34px;
    padding: 0px 15px;
}
.integral-box .to input{
    flex: 1;
    color: #9E9E9E;
    font-size: 13px;
    margin-top: 2px;
    margin-left: 10px;
}
.integral-box .utd{
    height:21px;
    font-size:15px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:21px;
}
/*币种*/
.integral .currency-title{
    padding: 15px;
    font-size:17px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.integral .currency-type{
    font-size:15px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:21px;
    margin-left: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.integral .number{
    display: flex;
    padding: 0px 15px 15px 15px;
}
.integral .number input{
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}
.integral .number span{
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:18px;
}
.integral .available{
    margin-left: 23px;
    font-size:17px;
    font-family:DIN;
    font-weight:500;
}

.tisp{
    margin: 20px 20px;
    font-size:11px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(158,158,158,1);
    line-height:16px;
}
.tisp p{
    text-align: center;
    margin-top: 7px;
    color:rgba(170,170,170,1);
    /*text-indent: 25px;*/
}
.incoming{
    text-align: center;
    margin-top: 54px;
    margin-bottom: 40px;
}
.incoming p{

    font-size:36px;
    font-family:DIN;
    font-weight:500;
}
.incoming span:nth-child(2){
    font-size:12px;
    font-weight:400;
}
.from-submit{
    width:270px;
    height:55px;
    background:rgba(41,66,151,1);
    box-shadow:0px 18px 14px -7px rgba(38,63,150,0.22);
    border-radius:28px;
    color: #ffffff;
    line-height: 55px;
    text-align: center;
    margin: 0 auto;

}
