.orderList{
    height: 100vh;
    background:rgba(245,245,245,1);
    overflow: auto;
}
.orderListBottom{
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
.orderStatus:nth-last-child(1){
    margin-bottom: 0;
}
.orderStatus{
    width: 100%;
    height: 220px;
    background:rgba(255,255,255,1);
    margin-top: 10px;
}
.orderDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    font-size:13px;
    font-weight:400;
    color:rgba(51,51,51,1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 10px;
}
.specifications{
    height: 119px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;

}
.specifications img{
    width: 80px;
    height: 80px;
    background: #1A1A1A;
    margin-left: 10px;
}
.specifications-text{
    margin-left: 19px;
    height: 86px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 270px;
}
.specifications-text p{
    font-size:13px;
    font-weight:400;
    padding-right: 10px;
    color:rgba(51,51,51,1);
}
.specifications-text span{
    display: inline-block;
    color: #777;
    border-radius:9px;
    font-size:10px;
    font-weight:400;
    margin-top: 7px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    align-items: center;
}
.price p:nth-child(1){
    font-size:17px;
    font-weight:500;
    color:rgba(254,0,0,1);
}
.price p:nth-child(2){
    margin-right: 10px;
    padding-right: 0;
    font-size:13px;
    font-weight:400;

}
.amount{
   display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 10px;
}
.amount p{
    font-size:13px;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.amount span{
    display: inline-block;
    width:93px;
    height:30px;
    border-radius:15px;
    border:1px solid rgba(51,51,51,1);
    text-align: center;
    font-size:13px;
    line-height: 30px;
    font-weight:400;
}
.seach{
    padding: 7px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 4px 10px;
    color: rgba(181, 181, 181, 1);
    background: rgba(216, 216, 216, 0.26);
}
.searchBack{
    background: white;
    overflow: hidden;
    height: 42px;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
}
.shopkeeperImg{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    height: 44px;
    line-height: 44px;
    font-weight:400;
    background: #fff;
    z-index: 100;
    text-align: center;
    color: #1A1A1A;
    font-size: 17px;

}

.shopkeeperImg img{
    width: 21px;
    height: 15px;
    position: absolute;
    top: 0.875rem;
    left: 1.25rem;
}