
.text-truncate{
    word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input::-webkit-input-placeholder {
    color:rgba(158,158,158,1);
}

.title{
    font-size:40px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(67,95,224,1);
    line-height:56px;
    padding: 10px 0px 30px 20px;
}

.from{
    padding: 0px 20px;
}

.from-item{
    margin-bottom: 28px;
}

.from-item-title{
    height:17px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(158,158,158,1);
    line-height:17px;
}

.from-item-body{
    display: flex;
    align-items: center;
}

.from-item-body .left{
    width: 56px;
    margin-left: -10px;
}

[class*=van-hairline]::after{
    border: none !important;
}

.from-item-body .right{
    flex: 1;
    margin-left: 24px;
    padding-bottom: 9px;
    padding-top: 10px;
    border-bottom: 1px solid #EEEEEE;
}

.from-item-body .right input{
    width: 100%;
    height:24px;
    display: block;
    font-size:17px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    line-height:24px;
}
.from-item-code{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
}
.from-item-code .left {
    flex: 1;
    margin-right: 10px;
}
.from-item-code .left input{
    width: 100%;
}
.from-item-code .right {
    font-size:17px;
}
.from-item-code .right span{
    font-size:17px;
    color: #9E9E9E;
}

.from-submit{
    height: 55px;
    line-height: 55px;
    color: #ffffff;
    background: #D8D8D8;
    margin: 40px 0px 36px 0px;
    text-align: center;
    border-radius: 30px;
}

.from-submit-active{
    height: 55px;
    line-height: 55px;
    color: #ffffff;
    background: linear-gradient(to right, #294297 , #294297);
    margin: 40px 0px 36px 0px;
    text-align: center;
    border-radius: 30px;
}
